@import "tailwindcss";

:root {
  /* Light Theme */
  --table-text-color: #333;
  --table-border-color: #e0e0e0;
  --table-header-background-color: #f5f5f5;
  --table-hover-text-color: #000;
  --table-odd-row-background-color: #fff;
  --table-even-row-background-color: #f9f9f9;

  /* Add any other global variables */
}

[data-theme="dark"] {
  /* Dark Theme */
  --table-text-color: #e0e0e0;
  --table-border-color: #444;
  --table-header-background-color: #2d2d2d;
  --table-hover-text-color: #fff;
  --table-odd-row-background-color: #1e1e1e;
  --table-even-row-background-color: #252525;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
}
